# ignore Windows build artifacts
**/*.dll
**/*.exe
**/*.ilk
**/*.lib
**/*.pdb
# ignore __pycache__
**/*__pycache__
# ignore build directorires
build
build_windows
# ignore VS Code settings
.vscode
# ignore top-level CMake testing directory
/Testing
# ignore xorll driver program name
/xorll/xorll_driver
